.game-zone {
  margin: 20px auto;
  max-width: 800px;
}
.game-zone .top {
  width: 100%;
  display: flex;
  gap: 10px;
}
.game-zone .top .deck:hover {
  cursor: pointer;
}
.game-zone .bottom {
  margin-top: 40px;
  width: 100%;
  display: flex;
  gap: 10px;
}
