.game-zone {
  margin: 20px auto;
  padding: 20px 20px;
  max-width: calc(5 * var(--card-height));
  min-height: calc(5 * var(--card-height));
  /* background-color: #157348; */
  background-color: var(--bs-success);
  border-radius: 3%;
  box-shadow: 5px 5px 10px 1px black;
}
.game-zone .top-game-zone {
  width: 100%;
  display: flex;
  gap: 10px;
}
.game-zone .top-game-zone .deck:hover {
  cursor: pointer;
}
.game-zone .bottom-game-zone {
  margin-top: 40px;
  width: 100%;
  display: flex;
  gap: 10px;
}
